#img-bg{
    background-image: url('../../assets/img/bg-blog.jpg');
    min-height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 5px;
}

.fa{
    font-size: 35pt;
    color: rgb(61, 61, 61);
    padding: 10px;
}

.fa-linkedin-square:hover{
    color: #0072b1;
}

.fa-github:hover{
    color: rgb(75, 17, 168);
}